body {
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fbc2eb, #a6c0fe);
    color: #333;
    font-family: Arial, sans-serif;
}

#birthday-heading {
    font-family: 'Pacifico', cursive;
    color: #e55039;
    animation: fadeInOut 3s infinite;
}

p.lead {
    color: #333;
}

img#cake {
    width: 250px;
    height: auto;
    animation: bounce 2s infinite;
}

.quote-box {
    border: 5px solid;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    animation: fadeInOut 6s infinite;
}

.animated-quote {
    border-color: transparent;
    animation: glowing-border 3s infinite, fadeInOut 6s infinite;
}

@keyframes glowing-border {
    0% { border-color: red; }
    25% { border-color: yellow; }
    50% { border-color: green; }
    75% { border-color: blue; }
    100% { border-color: red; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.animated-text {
    animation: fadeInOut 6s infinite;
}

.animated-heading {
    animation: fadeInOut 4s infinite;
}

.animated-cake {
    animation: fadeInOut 5s infinite;
}

.song-link {
    color: #e55039;
    text-decoration: none;
}

.song-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8c291;
}
